@model Reservation.Data.Reserve

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reserve</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_reservation" class="control-label"></label>
                <input asp-for="id_reservation" class="form-control" readonly />
                <span asp-validation-for="id_reservation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" readonly />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="typeReservationid_type" class="control-label"></label>
                <input asp-for="typeReservationid_type" class="form-control" readonly />
                <span asp-validation-for="typeReservationid_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_id" class="control-label"></label>
                <input asp-for="User_id" class="form-control" readonly />
                <span asp-validation-for="User_id" class="text-danger"></span>
            </div>
          


        <div class="form-group">

            <select asp-for="Status">
                <option selected disabled>--Select the Situation--</option>
                <option>Non Approve</option>
                <option>Delete</option>

            </select>
            <br />
            <button asp-action="Status" asp-route-id="@Model.id_reservation" class=" btn btn-primary m-2">Approve</button>
        </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
