@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welckom in your Reserve</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">you can take more more visit us</a>.</p>
    
</div>
