@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Reservation Youcode</h1>
    <p>Learn about <a href="https://telquel.ma/2018/11/15/a-youssoufia-lagilite-de-lecole-informatique-youcode_1617949"> Youssoufia, the "agility" of the YouCode IT school.</a>.</p>
</div>
